[submodule "Common"]
  path = Common
  url = https://github.com/xunkong/hoyolab.git
[submodule "Desktop"]
  path = Desktop
  url = https://github.com/xunkong/desktop.git
[submodule "Server"]
  path = Server
  url = https://github.com/xunkong/server.git
[submodule "Tool"]
  path = Tool
  url = https://github.com/xunkong/tool.git